@{
    ViewData["Title"] = "View";
}

<p>@ViewBag.result.state</p>
<p>@ViewBag.result.cart</p>
<p>@ViewBag.result.id</p>


<p>@ViewBag.result.payer.payer_info.first_name</p>
<p>@ViewBag.result.payer.payer_info.last_name</p>
<p>@ViewBag.result.payer.payer_info.email</p>
<p>@ViewBag.result.payer.payer_info.billing_address</p>
<p>@ViewBag.result.payer.payer_info.country_code</p>
<p>@ViewBag.result.payer.payer_info.shipping_address.state</p>
<p>@ViewBag.result.payer.payer_info.payer_id</p>