@model IEnumerable<FertilityPoint.DTO.AppointmentModule.AppointmentDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
<link href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet">

<body>
    <div class="page-wrapper" style="min-height: 754px;background-color: #f8f9fa;">
        <div class="content container-fluid">

            <div class="row">
                <div class="col-sm-3 col-auto">
                    <h3 class="page-title">List of Appointments</h3>
                </div>
                <div class="col-md-9">
                    @*                    <button type="button" class="btn btn-success btn-sm  pull-right" data-toggle="modal" data-target="#ModalApproveAppointment" data-backdrop="static" data-keyboard="false"><i class="fa fa-plus-circle"></i>  </button>
                    *@
                </div>
            </div>

            <div class="card">
                <div class="card-body">

                    <table id="specialist" class="table table-sm">
                        <thead>
                            <tr>
                                <th>SN.</th>
                                <th>Patient Name</th>
                                <th>Appointment Time</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (Model != null && Model.Count() > 0)
                            {
                                int count = 1;
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@count</td>

                                        <td>@item.FullName</td>

                                        <td>
                                            @item.AppointmentDate.ToShortDateString()
                                            <span class="text-primary d-block">@item.TimeSlot</span>
                                        </td>
                                        <td>
                                            @{
                                                var status = item.Status;

                                                if (status == 0)
                                                {
                                                    <span class="pending">Pending Approval</span>
                                                }
                                                else
                                                {
                                                    <span class="activeUser ">Approved</span>
                                                }
                                            }
                                        </td>
                                        <td class="text-end">
                                            <a class="btn btn-success btn-sm " href="#" onclick="GetAppointment('@item.Id')" value="">Approve</a>
                                        </td>
                                    </tr>
                                    count++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>


<!-- Button trigger modal -->
<!-- Modal -->



<div class="modal fade" id="ModalApproveAppointment" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                    Approve Appointment
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ">

                <form id="frmApproveAppointment">

                    <input type="hidden" id="txtAppointmentId" name="Id" />

                    <div class="form-group row">
                        <div class="bg-dark col-12 text-center text-white" style="width:100px;height:80px; font-size:20px; margin-top:-1rem;">
                            <div class="text-center">
                                <label id="txtPatientName">   </label>
                            </div>
                            <div class="">
                                <img src="~/dashboard/assets/img/patient-user-settings.png" class="img" />

                            </div>
                        </div>
                        <br />

                        <div class="col-lg-12">

                            <div class="text-dark" style="font-size:15px; font-weight:bold;">
                                <label id="NewCreateDate"></label>
                            </div>

                        </div>

                    </div>


                    <div class="">

                        <div class="">
                            <label><strong>Phone Number:</strong></label>
                            <label id="txtPhoneNumber">   </label>
                        </div>

                        <div class="">
                            <label><strong>Email:</strong></label>
                            <label id="txtEmail">   </label>
                        </div>

                        <div class="">
                            <label><strong>Appointment Time:</strong></label>
                            <label id="txtAppointmentTime">   </label>
                        </div>
                        <div class="">
                            <label><strong>Appointment Date:</strong></label>
                            <label id="txtAppointmentDate">   </label>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button onclick="ApproveAppointment(this)" type="button" class="btn btn-success">Approve</button>
            </div>
        </div>
    </div>
</div>

<style>
        .img {
        height: 3em;
        margin-top: 0em;
        background: transparent;
        border: 5px solid white;
        border-radius: 40px;
    }
</style>
<script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>


<script type="text/javascript">

    $(document).ready(function() {
        $('#specialist').DataTable();
    });

    function ShowLoader() {

        $("#loadMe").modal('show');
    }

    function HideLoader() {

        $("#loadMe").modal('hide');
    }



    function ApproveAppointment() {

        $("#ModalApproveAppointment").modal('hide');

        var data = $("#frmApproveAppointment").serialize();

        $.ajax({

            type: "POST",

            url: "/Admin/Appointments/ApproveAppointment/",

            data: data,

            beforeSend: function() { ShowLoader(); },

            success: function(response) {

                if (response.success) {

                    swal({

                        position: 'top-end',

                        type: "success",

                        title: response.responseText,

                        showConfirmButton: false,

                    }), setTimeout(function() { location.reload(); }, 3000);

                } else {

                    swal({

                        position: 'top-end',

                        type: "error",

                        title: response.responseText,

                        showConfirmButton: true,

                        timer: 5000,
                    });


                }
            },

            error: function(response) {
                alert("error!");
            },
            complete: function() {
                HideLoader();
            }
        })

    }


    function GetAppointment(e) {

        var id = e;

        console.log(id);

        $.get("/Admin/Appointments/GetById/?Id=" + id, function(data, status) {
            console.log(data);
            if (data.data == false) {
                alert("Does not exist");
            } else {

                $("#txtAppointmentId").val(data.data.id);
                $("#txtAppointmentTime").text(data.data.timeSlot);
                $("#txtAppointmentDate").text(data.data.newAppointmentDate);
                $("#txtPatientName").text(data.data.fullName);
                $("#txtEmail").text(data.data.email);
                $("#txtPhoneNumber").text(data.data.phoneNumber);
                $("#txtpatientId").val(data.data.patientId);



                $('#ModalApproveAppointment').modal({ backdrop: 'static', keyboard: false })

                $("#ModalApproveAppointment").modal('show');

            }

        });
    };

</script>




